body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('assets/korea.gif'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-size: 50px;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
  font-size: 35px;
  
}

input[type="text"] {
  width: 80%;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #8d8888;
  border-radius: 15px;
  font-size: 35px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
}

.toptext {
  display: flex;
  flex-direction: column; /* Optional, if you want items stacked vertically */
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: column; /* Optional, if you want items stacked vertically */
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.break {
  text-align: center;
}

.footer {
  text-align: center;
}